body {
    background-image: url(back.jpg);
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid silver;
}


.header-section *{
    margin: 0;
    padding: 0;
}

.header-section ul, .menu ol{
    list-style: none;
}

.header-section > ul{
    display: flex;
    justify-content: center;
}


.header-section > ul li .header-item input{
    display: block;
    background: #ececed;
    padding: 15px 30px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.header-section > ul li {
    position: relative;
}

.header-section li .header-item input:hover{
    color:red;
    transition: all 0.3s ease;
}

.header-section li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}

.header-section li > ul li{
    border: 1px solid green;
}

.header-section li > ul li .header-item input{
    padding: 10px;
    text-transform: none;
}

.header-section li:hover >ul{
    display: block;
}