body {
    background-image: url(resources/images/back.jpg);
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
}


/*
    Header
*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-bottom: 2px solid silver;
}

.header-section * {
    margin: 0;
    padding: 0;
}

.header-section ul, .menu ol {
    list-style: none;
}

.header-section > ul {
    display: flex;
    justify-content: center;
}


.header-section > ul li .header-button input {
    display: block;
    background: black;
    padding: 15px 10px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.header-section > ul li .header-logo input {
    display: block;
    background: black;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 0.3s ease;
}

.header-section > ul li {
    position: relative;
}

.header-section li .header-button input:hover {
    color: #5FA4FF;
    transition: all 0.3s ease;
}

.header-section li .header-logo input:hover {
    color: white;
    transition: all 0.3s ease;
}

.header-section li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.header-section li > ul li {
    border: 1px solid black;
}

.header-section li > ul li .header-item input {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    text-transform: none;
}

.header-section li:hover > ul {
    display: block;
}


.header-item input[type="submit"] {
    background: black;
    margin: 0;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-item {
    padding: 10px 5px;
    font-size: 20px;
    margin-left: 0;
}


.header-button input {
    color: #fff;
    font-size: 20px;
    background: none;
    border: none;
}

.header-logo input {
    color: #5FA4FF;
    background-color: black;
    font-size: 25px;
    border: none;
    font-weight: bold;
    font-style: italic;
}

.header-inner-item {
    background: black;
    padding-bottom: 10px;
    font-size: 20px;
}

.header-inner-item input {
    background: black;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    text-transform: none;
    border: none;
}

.header-inner-item input:hover {
    color: #5FA4FF;
    transition: all 0.3s ease;
}


/*
    Content
*/
.content {
    padding-bottom: 90px;
}

.content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .content {
    height: 1%;
}

.content {
    display: block;
}


/*
    Footer
*/
.footer {
    position : absolute;
    left:0;
    bottom:0;
    width:100%;


    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-info {
    width:100%;
}
.footer-info h4 {
    color: white;
    text-align: center;
    margin-top:10px;
}


/*
    System info
*/
.system-info {
    margin-top: 200px;
    text-align: center;
}

.system-info h3{
    margin-left:50%;
    text-align: center;
}



/*
    Login
*/

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.login-form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.login-input {
    margin: 15px 40px;
    text-align: center;
}

.login-input input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.login-input input[type="email"]:focus, .login-input input[type="password"]:focus {
    border: 1px solid #1D6CBA;
}

.login-input input[type="submit"] {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    border: none;
    background: white;
    transition: .3s;
}

.login-input input[type="submit"]:hover {
    background: #5FA4FF;
}

.login-form a {
    display: block;
    padding: 0 0 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.login-form a:hover {
    color: #5FA4FF;
}



/*
    Sign up
*/
.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.signup-form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.signup-input {
    margin: 15px 40px;
    text-align: center;
}

.signup-input p {
    color: white;
    text-align: left;
}

.signup-input input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.signup-input select{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: black;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.signup-input input[type="email"]:focus, .signup-input input[type="password"]:focus, .signup-input input[type="text"]:focus {
    border: 1px solid #1D6CBA;
}

.signup-input input[type="submit"] {
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    border: none;
    background: white;
    transition: .3s;
}

.signup-input input[type="submit"]:hover {
    background: #5FA4FF;
}

.signup-form a {
    display: block;
    padding: 0 0 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.signup-form a:hover {
    color: #5FA4FF;
}













.header-language {
    margin: 15px 40px;
    text-align: center;
}

.header-language p {
    color: white;
    text-align: left;
}

.header-language input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.header-language select{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.header-language input[type="email"]:focus, .signup-input input[type="password"]:focus, .signup-input input[type="text"]:focus {
    border: 1px solid #1D6CBA;
}

.header-language input[type="submit"] {
    margin-top: 30px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    border: none;
    background: white;
    transition: .3s;
}

.header-language input[type="submit"]:hover {
    background: #5FA4FF;
}






.header-select select{
    padding: 10px;
    width: 80px;
    height: 45px;
    color: white;
    font-size: 15px;
    background: black;
    outline: none;
    border: 1px solid #fff;

}


.header-select-section{
    display: inline-block;
}


.header-select-item{
    display: inline-block;
}

.header-search{

    border: 1px solid #fff;
}


.subscribe-button {
    margin:0;
    padding: 0;
    height: 20px;
}

.subscribe-button input[type="submit"] {
    color: black;
    font-weight: bold;
    border: none;
    background: white;
    transition: .3s;
}

.subscribe-button input[type="submit"]:hover {
    color: #5FA4FF;
}














.periodical-form {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.periodical-table {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    margin: auto;
}

.periodical-table th, .periodical-table td {
    text-align: center;
    padding: 10px;
}



table.periodical-table tr:nth-child(1) {
    background-color: black;
    color: white;
}

table.periodical-table tr:nth-child(2) {
    background-color: #5FA4FF;
}

table.periodical-table tr:nth-child(3) {
    background-color: #5FA4FF;
}
table.periodical-table tr:nth-child(4) {
    background-color: #5FA4FF;
}
table.periodical-table tr:nth-child(5) {
    background-color: #5FA4FF;
}
table.periodical-table tr:nth-child(6) {
    background-color: grey;
}

.periodical-table td{
    width: 600px;
    background-color: white;
}

.periodical-price {
    color: red;
}


